

.signin-bg {
  min-height: 100vh;
  background:
    radial-gradient(
      ellipse at top,
      rgba(120, 0, 0, 0.45) 0%,
      rgba(20, 0, 0, 0.9) 45%,
      #000 75%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 1)
    );
  background-color: #000;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}



.signin-header {
  padding: 24px 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.netflix-logo {
  width: 140px;
}





.signin-card {
  max-width: 440px;
  margin: 80px auto 0;
  text-align: center;
}



.signin-card h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
  color: white;
}

.signin-card p {
  font-size: 18px;
  color: white;
  margin-bottom: 24px;
}


.signin-input {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.signin-input input {
  width: 100%;
  height: 56px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 4px;
}

.signin-input input::placeholder {
  color: #b3b3b3;
}


.signin-input input:focus {
  outline: none;
  border-color: #333;
}


.signin-input button {
  margin-top: 16px;
  height: 56px;
  background: #e50914;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.signin-input button:hover {
  background: #f6121d;
}


.signin-input button span {
  font-size: 20px;
  margin-top: 1px;
}

