.BG {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/797df41b-1129-4496-beb3-6fc2f29c59d3/web/IN-en-20260112-TRIFECTA-perspective_004732f9-7464-4a7c-940b-4a51c4f0f73f_large.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}


.Container {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  
  padding-top: 180px;
  padding-left: 20px;
  padding-right: 20px;
}


.Container > * {
  max-width: 950px;
}

.Container h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
  
}

.Container p {
  margin-top: 16px;
  font-size: 1.25rem;
  font-weight: 400;
}


.content-input {
  margin-top: 24px;
  display: flex;
  gap: 8px;
}

.content-input input {
  padding: 16px;
  width: 360px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

.content-input button {
  background: #e50914;
  color: white;
  border: none;
  padding: 16px 28px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 4px;
}
