.BG {
  height: 100vh;
  width: 100%;
  background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/797df41b-1129-4496-beb3-6fc2f29c59d3/web/IN-en-20260112-TRIFECTA-perspective_004732f9-7464-4a7c-940b-4a51c4f0f73f_large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  height: 100vh;
}


.Container {
  position: relative;
  z-index: 2;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Container h1 {
  font-size: 3rem;
  font-weight: 800;
  max-width: 700px;
}

.Container p {
  margin: 16px 0;
  font-size: 1.2rem;
}


.content-input {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.content-input input {
  padding: 16px;
  width: 320px;
  font-size: 16px;
}

.content-input button {
  background: #e50914; 
  color: white;
  border: none;
  padding: 16px 24px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}