.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, rgba(0,0,0,.7), transparent);
  z-index: 10;
}

.nav-logo {
  width: 92px;
}

.nav-menu {
  display: flex;
  gap: 18px;
  margin-left: 40px;
  font-size: 14px;
}

.nav-menu span {
  cursor: pointer;
}

.nav-avatar {
  width: 32px;
  margin-left: auto;
}