.section {
  background-color: #000;
  padding: 80px 30px;
  color: white;
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

.list {
  max-width: 1000px;
  margin-left: 100px;
  
}

.faq-item {
  background-color: #303030;
  margin-bottom: 20px;
  margin-left: 90px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;
}

.faq-item:hover {
  background-color: #404040;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 24px;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.faq-icon {
  font-size: 2rem;
  font-weight: 300;
}

.faq-answer {
  padding: 20px 24px;
  font-size: 1.05rem;
  line-height: 1.6;
  background-color: #303030;
  border-top: 1px solid #000;
  text-align: left;
}