
.header {
  position: absolute;
  top: 0;
  width: 90%;
  height: 90px;
  padding: 0 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}


.netflix-logo {
  width: 170px;
  cursor: pointer;
}


.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}


.language-box {
  display: flex;
  align-items: center;
  border: 1px solid #aaa;
  padding: 6px 12px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.6);
}

.language-box span {
  margin-right: 3px;
}

.language-box select {
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}


.signin-btn {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  
}
.link-btn{
text-decoration: none;
color:whitegi;
}
 

.signin-btn:hover {
  background-color: #f40612;
}