.poster-details {
  color: white;
}

.banner {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 20%;
  left: 5%;
  max-width: 600px;
}

.overlay button {
  background: red;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}

.trailer {
  padding: 40px;
  background: black;
}